[submodule "sdk/pico-sdk"]
	path = sdk/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/pico-extras"]
	path = external/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "external/pico-examples"]
	path = external/pico-examples
	url = https://github.com/raspberrypi/pico-examples
[submodule "external/picotool"]
	path = external/picotool
	url = https://github.com/raspberrypi/picotool
